{% extends "layout.html" %}

{% block title %}
    Check
{% endblock %}

{% block main %}
    <div class="container">
      <div class="image"><img src="../{{ path }}" alt="uploaded picture" width="600" height="400"></div>
      <div id="box1" class="right">
        <p class="title">これは{{ name }}です。</p>
        <p style="text-align: right;">精度{{ per }}%</p>
        <p class="text"><span class="count-up count-size">{{ calorie }}</span>kcal</p>
        <div class="container">
          <div class="text">P</div>
          <div class="text">|</div>
          <div class="text">F</div>
          <div class="text">|</div>
          <div class="text">C</div>
        </div>

        <div class="container">
          <div class="text"><span class="count-up count-size">{{ protain }}</span>　</div>
          <div class="text">　<span class="count-up count-size">{{ fat }}</span>　</div>
          <div class="text">　<span class="count-up count-size">{{ carbohydrate }}</span></div>
        </div>

        <div class="container">
          <div class="unit">g</div>
          <div class="unit">　g</div>
          <div class="unit">g</div>
        </div>
      </div>
    </div>
{% endblock %}
